This notebook demonstrates steps of creating a pipeline of model training and testing

<!-- %pip install -q transformers datasets evaluate -->

In [3]:
!git clone https://github.com/OopsWrongCode/nlp-project.git

Cloning into 'nlp-project'...
remote: Enumerating objects: 75, done.
remote: Counting objects: 100% (75/75), done.
remote: Compressing objects: 100% (45/45), done.
remote: Total 75 (delta 14), reused 64 (delta 11), pack-reused 0 (from 0)
Receiving objects: 100% (75/75), 38.64 MiB | 21.47 MiB/s, done.
Resolving deltas: 100% (14/14), done.

In [4]:
%cd nlp-project/

/kaggle/working/nlp-project

In [2]:
import random
import torch.nn as nn
import torch
import pandas as pd
seed = 42
import numpy as np
random.seed(seed)
np.random.seed(seed)
torch.manual_seed(seed)
torch.cuda.manual_seed(seed)
torch.backends.cudnn.deterministic = True

In [5]:
train = pd.read_csv('/kaggle/working/nlp-project/data/train.csv')
test = pd.read_csv('/kaggle/working/nlp-project/data/test.csv')
validation = pd.read_csv('/kaggle/working/nlp-project/data/valid.csv')

In [6]:
train.head()

,text,label,token_count,text_length
0,"['checked', 'margies', 'candies', 'yelp', 'che...",intj,2186,17479
1,"['sosuga', 'next', 'are', 'still', 'freaking',...",enfj,690,6170
2,"['you', 'people', 'dont', 'understand', 'henry...",infp,1748,12667
3,"['include', 'pls', 'and', 'thank', 'you', 'yes...",enfp,959,9354
4,"['ive', 'ever', 'seen', 'more', 'dad', 'lookin...",infj,1775,12807

In [7]:
test.head()

                                                text
0  They obsessed with pinks more then I am|||Why ...
1  I can‚Äôt wait https://t.co/O8NL3Q32S2|||skz is ...
2  what a wonderful day to be alive|||@kafir_mo l...
3  @blvrrynoise exactly! most midzys were actuall...
4  @averykcampbell I... I didn't even know there ...

In [8]:
validation.head()

                                                text label
0  „Ö§„Ö§\nCharging with plant power at #.ClarinsGard...  infp
1  Miss you, Junghwanie üò¢üò¢üò¢ https://t.co/ZoN9QwdM...  infj
2  NOT USING IN GAME MIC BC IM A PUSSY|||err idk|...  estj
3  üí≠:: Lee Know\nüóìÔ∏è:: 22.07.13 PDT / 22.07.14 KST...  esfp
4  @oddifairy 5‚Äô6 üßçüèæ‚Äç‚ôÄÔ∏è|||@isaloverofchan As an i...  infj